.task {
    display: flex;
    align-items: center;
    margin: 6px 0px;
    padding: 0 2px;
    cursor: pointer;

    .icon {
        margin-right: 5px;
        font-size: 16px;
        position: relative;
        left: -2px;
    }

    .task-name {
        padding: 1px 4px;
        font-size: 12px;
        flex: 1;
        border-radius: 4px;
        border: 1px solid transparent;
    }

    .icon-done {
        color: green;
    }

    .task-name--done {
        background-color: rgb(202, 238, 215);

        &:hover {
            background-color: rgba(202, 238, 215, 0.5);
            border: 1px solid rgb(202, 238, 215);
        }
    }

    .icon-doing {
        color: red;
    }

    .task-name--doing {
        background-color: red;
        color: white;

        &:hover {
            background-color: rgba(254, 216, 214, 0.5);
            border: 1px solid rgb(254, 216, 214);
        }
    }

    .icon-new {
        color: rgb(255, 225, 171)
    }

    .task-name--new {
        background-color: rgba(255, 225, 171, 1);

        &:hover {
            background-color: rgba(255, 225, 171, 0.5);
            border: 1px solid rgba(255, 225, 171, 1);
        }
    }

    .icon-closed {
        color: red;
    }

    .task-name--closed {
        background-color: red;

        &:hover {
            background-color: rgba(225, 0, 0, 0.5);
            border: 1px solid rgb(225, 0, 0);
        }
    }
}

.priority-tag {
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: gray;

    // padding: 2px;
    // border-radius: 4px;
    span {
        margin-right: 6px;
    }
}

// .priority-tag--high {
//     color: red;
// }

// .priority-tag--medium {
//     color: orange;
// }

// .priority-tag--low {
//     color: green;
// }
.edit-icon {
    margin-right: 16px;
}

.delete-icon {
    cursor: pointer;
    padding: 4px;

    &:hover {
        background-color: rgba(213, 218, 213, 0.5);
        border-radius: 50%;
    }
}

.close-icon {
    cursor: pointer;
    padding: 4px;

    &:hover {
        background-color: rgba(213, 218, 213, 0.5);
        border-radius: 50%;
    }
}

.status-slider {
    // width: 80%;
    // margin-left: 20px;
    padding-left: 40px;
    padding-right: 40px;

    .status-slider--new {
        color: rgb(255, 225, 171);
    }

    .status-slider--doing {
        color: #E87e79;
    }

    .status-slider--done {
        color: green
    }
}