.bodySerHome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item {
    margin-right: 80px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}