.containerNav {
    display: block;
    visibility: inherit;
    overflow-x: visible;
    background-color: #F5F5F5;
    /* font-family: 'Courier New', Courier, monospace; */
    border-top: 1px solid gray;
    width: 100%;
}

.bodyNav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.bodyNav>ul {
    text-align: center;
    list-style: none;
}

.bodyNav>ul>li {
    padding: 0px 30px;
    height: 36px;

    position: relative;
    box-sizing: border-box;
    overflow: visible;
    visibility: inherit;

    display: inline-block;
    cursor: pointer;
}

.active,
.bodyNav>ul>li:hover {
    color: #673ab7;
    font-weight: bold;
}

.title {
    text-align: center;
    display: block;
    line-height: 36px;
    font-size: 18px;
    margin-top: -2px;
}